.container, #container {
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
}
.countdown{
    text-align: right;
}
.btn{
    color: white;
    background-color: #4b0076;
    padding: 5px;
    margin: .5vw;
    border-radius: 5px;
    display: flex;
    border: none;
}
.btn:hover{
    background-color: #A865c9;
}
.submit{
    display: inline
}
#startBtn{
    margin: auto;
    text-align: center;
}
.scoreScreen{
    margin: auto;
    margin-bottom: 2px;
}
ol{
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}